__pycache__/
*.pyc
*.pyo
db.sqlite3
*.db.sqlite3

*/migrations/*.py
*/migrations/*.pyc

/venv
venv/
/venv/backend/
env/
*.env
.idea
.vscode/
.idea/
.pylintrc

media/
/media/*
/products
products/
pip-selfcheck.json