{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Контакты{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<body>
    <div> <!-- Новый контейнер для flex layout -->
        <header>
            <nav class="navbar">
                <a href="{% url 'users:profile' %}">Профиль</a>
                <a href="{% url 'contacts:add' %}">Добавить</a>
            </nav>
        </header>

        <main class="container">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>

</body>
</html>
