{% extends "contacts/base.html" %}
{% load static %}

{% block content %}
<div class="contacts-container add-contact-form">
    <h2>Добавить контакт</h2>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="message {{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        
        <label for="id_to_user">Выберите пользователя</label>
        {{ form.to_user }}

        {% if form.to_user.errors %}
            <div class="form-error">
                {{ form.to_user.errors }}
            </div>
        {% endif %}

        <button type="submit" class="btn btn-add">Отправить заявку</button>
    </form>
</div>
{% endblock %}
