{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Messenger{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- JS -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <div class="page-wrapper"> <!-- Новый контейнер для flex layout -->
        <header>
            <nav class="navbar">
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'users:profile' %}">Профиль</a></li>
                    {% else %}
                        <li><a href="{% url 'users:login' %}">Вход</a></li>
                        <li><a href="{% url 'users:register' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <main class="container">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>
